/* Высота навбара для стабильности */
.custom-nav {
    height: 20px;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}


/* Кнопка слева без рамок */
.nav-btn {
    background: none;
    border: none;
    font-size: 18px;
    padding: 2px 4px;
    cursor: pointer;
}

.nav-btn:hover {
    opacity: 0.7;
}

.navbar-toggler,
.nav-btn {
    font-size: 6px;
    padding: 2px 4px;
}

.nav-color {
    background: #ffffff;
}

.bg-color {
    background-color: #f5f5fa;
}

.bg-back {
    padding-bottom: 200%;
}

/* Убираем рамку у бургер-кнопки */
.navbar-toggler.no-border {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Убираем рамку у иконки внутри */
.navbar-toggler.no-border:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

/* Лого: идеально по высоте навбара всегда */
.logo-box img {
    height: 20px;
    /* 70px navbar - 20px внутренних отступов */
    width: auto;
    object-fit: contain;
    /* не растягивает картинку */
}

.logo-box {
    display: flex;
    align-items: center;
}
